<!DOCTYPE html>
<html>

   <head>
      <title>FreeCodeCamp API Challenge: URL Shortener Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
<!--       <script src="/timestamp.js"></script> -->
   </head>

   <body>
      <div class="container">
        
         <h1>FreeCodeCamp API Challenge: URL Shortener Microservice</h1>
         <h3>Part 2 of Free Code Camp Backend Challenges</h3>
        <p>
          User stories:
        </p>
          <ol>
            <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
            <li>When I visit that shortened URL, it will redirect me to my original link.</li>
            <li>If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</li>
        </ol>
        <p>
          Example usage - input:
          <code><a href="https://way-shorter-url.glitch.me/new/https://www.google.com" >https://way-shorter-url.glitch.me/new/https://www.google.com</a></code>
        </p>

        <p>
          Example output:
          <code><a href="https://way-shorter-url.glitch.me/HkK727xvZ">https://way-shorter-url.glitch.me/HkK727xvZ</a></code>
        
        </p>

        
      </div>
   </body>
<footer><p>
  Created by Will Waymel
  </p></footer>
</html>
